@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    height:100vh;
    background-image: linear-gradient(pink, lightblue, orange);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div{
 max-width:500px;
 height:auto;
 background: lightcoral;
 padding:15px;
 box-shadow: 2px 3px 7px 5px lightcyan ;
}
h1{
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px whitesmoke;/* horizontal vertical blur */
    text-transform: capitalize;
}
label{
    display: block;
    text-transform: capitalize;
    margin-top: 20px;
}
input{
    width: 300px;
    padding:10px 15px;
    font-weight: 200;
}
button{
    font-size: 3rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 0.8rem; /* 1rem== 16px*/
    text-transform: uppercase;
    border: none;
    color:white;
    background: plum;
    margin-top: 20px;
    box-shadow: 1px 1px 3px 1px lavenderblush;/* horizontal vertical blur spread*/
}